.header{
    display: block;
    background: #222222;
    width: 100%;
    height: 80px;
    top: 0;
    position: relative;
    font-family: 'Open sans';
    font-weight: 400;
}

.logo{
    padding-left: 40px;
    position: relative;
    cursor: pointer;
    height: 100%;
    width: 270px;
    float: left;
}

.logo .logo_main{
    position: absolute;
    height: 60px;
    width: 120px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.flyers_checkbox{
    float: left;
    position: relative;
    color: #ffffff;
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
    margin-left: 100px;
    transition: all .3s;
}

    .flyers_checkbox:hover{
        background: #111;
        transition: all .3s;
    }

    .flyers_checkbox .title{
        text-align: center;
        width: 100%;
        line-height: 80px;
        font-size: 20px;
    }

    .flyers_checkbox .checkBoxes{
        background: #111;
        position: absolute;
        left: 0;
        width: 475px;
        height: 80px;
        display: none;
    }

    .flyers_checkbox:hover .checkBoxes{
        display: block;
    }

    .flyers_checkbox .checkBoxes .check_box{
        padding: 0 30px;
        position: relative;
        font-size: 16px;
        height: 100%;
        float: left;
    }

    .flyers_checkbox .checkBoxes .check_box:hover{
        background: #000000;
    }

    .flyers_checkbox .checkBoxes .check_box .checker{
        line-height: 80px;
    }

    .flyers_checkbox .checkBoxes .check_box .checker:before{
        background: url('img/checked_false.png') no-repeat;
        display: block;
        content: '';
        width: 26px;
        height: 26px;
        float: left;
        position: relative;
        top: 25px;
        margin-right: 10px;
    }

    .flyers_checkbox .checkBoxes .check_box .checker.checked:before{
        background: url('img/checked_true.png') no-repeat;
        display: block;
        content: '';
        width: 26px;
        height: 26px;
        float: left;
        position: relative;
        top: 25px;
        margin-right: 10px;
    }

.temp_item{
    float: left;
    position: relative;
    color: #ffffff;
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
    margin-left: 50px;
    transition: all .3s;
}

    .temp_item:hover{
        background: #000;
        transition: all .3s;
    }

    .temp_item .title{
        text-align: center;
        width: 100%;
        line-height: 80px;
        font-size: 20px;
    }

.login{
    background: #3A3A3A;
    float: right;
    width: 220px;
    height: 100%;
    display: block;
    color: #fff;
    cursor: pointer;
}

    .login .title{
        text-align: center;
        line-height: 80px;
        position: relative;
    }

        .login .title:before{
            display: block;
            content: '';
            background: url('img/login_before.png') no-repeat;
            position: absolute;
            width: 25px;
            height: 25px;
            top: 0;
            left: 55px;
            bottom: 0;
            margin: auto;
        }

